<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/ExerciciosClassesAbstratas_Interfaces/src/AnimalAbstrato/TesteAnimais.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="AnimalAbstrato.TesteAnimais"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="Acabou"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ExerciciosClassesAbstratas_Interfaces"/>
</launchConfiguration>
